.button {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.button:hover {
  opacity: 1;
}

.iconButton {
  border-radius: 3px;
  padding: 1px;
  margin: 0px;
  font-size: 1.3em;
}

button.button {
  background: #9c9c9c;
  background: linear-gradient(to bottom, #636363, #333333);
  /* border: 1px outset #8e8e8e; */
  border: 1px solid #191919;
  border-radius: 3px;
  //color: #dddddd;
  color: $editor-text-color;
  outline: none;
  /* box-shadow: 0 0 3px black; */
  margin: 3px;
  padding: 2px 8px;
  opacity: 0.85;
  font-size: 12px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.76);
  //background: #3e3e3e;
  box-shadow: inset 1px 1px 1px #ffffff36, 0 0 1px black;
}

button.button:hover {
  color: $editor-text-color;
}
button.button:active {
  color: $editor-text-color;
  border-style: inset;
  box-shadow: none;
}

button.button.dangerButton {
  //color: #ffbcc1;
  background: linear-gradient(to bottom, #714646, #523232);
  //background: #5f3a3a;
}
button.button.dangerButton:hover {
  color: #ffb6bf;
  text-shadow: 0 0 2px red;
}
button.button i.fa {
  position: relative;
  left: -3px;
  top: 0px;
  font-size: 11px;
}
