
$cool-cyan: #00fff1;
$cool-cyan-dark: #406c6e;
$cool-cyan-darker: #223f3a;
$cool-cyan-light: #b1cacb;
$bright-green: #53ff00;



$editor-effect-color: $cool-cyan;
$editor-effect-color: #ddfabc;
$editor-effect-color-inactive: $cool-cyan-dark;
$editor-effect-color-dark: $cool-cyan-darker;
$editor-text-color: $cool-cyan-light;
$center-backround: black;
$other-backround: #363636;
$other-backround-hilighted: #505050;
$layout-border-color: $editor-effect-color;
