.button {
  cursor: pointer;
  color: $layout-effect-color;
  opacity: 0.6;
}
.button:hover {
  opacity: 1;
}

.iconButton {
  border-radius: 3px;
  padding: 2px;
  margin: 1px;
  font-size: 1.5em;
}
