
$cool-cyan: #00fff1;
$cool-cyan-dark: #426e69;
$bright-green: #53ff00;



$layout-effect-color: $cool-cyan;
$layout-effect-color-inactive: $cool-cyan-dark;
$center-backround: black;
$other-backround: #363636;
$other-backround-hilighted: #505050;
$layout-border-color: $layout-effect-color;
