div.widgetRoot {
    position: absolute;
    top: 50%;
    left: 50%;
}


.widgetRoot .widgetControl {
    text-shadow: none;
    // opacity: 0.8;
}
.widgetRoot:not(.dragging) .widgetControl:hover,
.widgetRoot.dragging .widgetControl.dragging {
    // text-shadow: 0 0 1px;
    filter: brightness(140%);
    // text-shadow: 0 0 4px;
    // opacity: 1;
}

.widgetRoot .widget {
    position: absolute;
    user-select: none;
}

.widgetRoot .moveWidget .widgetControl {
    font-size: 22px;
    transform: scaleX(2) translateX(-5%) translateY(-50%);
}

.widgetRoot .scaleWidget .widgetControl {
    font-size: 18px;
}

.widgetRoot .angleWidget .widgetControl {
    font-size: 60px;
    // border: 4px solid;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    // width: 60px;
    // height: 60px;
    color: rgb(0, 0, 175);
    opacity: 0.7;
}

.widgetRoot .angleWidget.littleAngleWidget .widgetControl {
    font-size: 25px;
    transform: translateX(-200%) translateY(-200%);
}

.widgetRoot .widgetLine {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    height: 1px;
    opacity: 0.5;
}

.widgetRoot .widgetControl {
    position: absolute;
    font-size: 30px;
}

.widgetRoot .positionWidget .widgetControl {
    color: yellow;
    opacity: 0.4;
    // left: 0.5px;
    // top: 1px;
    // border-radius: 50%;
    background: yellow;
    border: 1px solid #ccc90a;
    width: 30.5px;
    height: 30.5px;
    transform: translateY(-100%) translateX(-0.5px) translateY(0.5px);
}
.widgetRoot:not(.dragging) .positionWidget .widgetControl:hover,
.widgetRoot.dragging .positionWidget .widgetControl.dragging {
    opacity: 0.6;
    // box-shadow: 0 0 8px 4px;
}
