.componentAdderContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  max-width: 901px;
}

.componentAdderContent .categoryItem {
  overflow: auto;
  margin: 10px;
  max-width: 450px;
  border: 1px solid #151515;
  padding: 15px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.17);
  max-width: 400px;
  box-shadow: inset 2px 2px 8px 1px #4e4e4e;
}

.componentAdderContent div.categoryName {
  margin-bottom: 12px;
}

button.button:disabled {
  filter: grayscale(100%);
  cursor: default;
  opacity: 0.5;
}
