div.gameListContainer {
    width: 100%;
    overflow: auto;
    max-width: 800px;
    margin: 0 auto;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 8px -4px;
}

table.gameList {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.gameList > * {
    min-width: 600px;
}

thead.gameListHeader > th {
    padding: 0 5px;
}

tbody.gameListContent {
    border-top: 1px solid #fbfbfb;
}



.gameElement {
    text-align: left;
    background: white;
    background: linear-gradient(to bottom, white, #f9f9f9);
}

.gameElement > td {
    padding: 10px 5px 10px 5px;
}
/*
.moreGamesGame {
    width: 400px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    vertical-align: bottom;
    position: relative;
}
*/
.moreGamesGame .linkButton {
    margin-top: 80px;
}

.gameElementName {
    color: black;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px;
    min-width: 120px;
    font-size: 18px;
}

.gameElementPlay {
    width: 1px;
}

.linkButton {
    text-decoration: none;
    font-weight: bold;
    color: #5ebf5e;
    padding: 7px 15px;
}
.linkButton:hover {
    opacity: 1;
}
.playButton {
    margin-bottom: 10px;
}
.editButton {
    filter: grayscale(80%);
    font-size: 16px;
}
