div.propertyEditor div.container[type='icd'],
div.propertyEditor div.container[type='com'] {
  transition: opacity 0.5s;
  background: #2d2d2d;
}

div.propertyEditor div.container.packed[type='icd'],
div.propertyEditor div.container.packed[type='com'] {
  //opacity: 0.6;
  //filter: saturate(0.4);
}

div.propertyEditor div.container[type='icd'] .containerContent,
div.propertyEditor div.container[type='com'] .containerContent {
  overflow: auto;
  height: auto;
  transition: opacity 0.4s, max-height 0.3s cubic-bezier(1, 0, 1, 1);
  max-height: 500px;
}

div.propertyEditor div.container.packed .containerContent {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.4s, max-height 0.3s cubic-bezier(0, 1, 1, 1);
}

.skipPropertyEditorTransitions * {
  transition-duration: 0s !important;
}

div.propertyEditor div.container {
  position: relative;
}

.propertyEditor {
  padding-bottom: 5px;
  padding-top: 3px;
}

div.propertyEditor div.container[type='icd'] div.containerTitle,
div.propertyEditor div.container[type='com'] div.containerTitle {
  cursor: pointer;
  position: relative;
  padding: 2px;
  background: linear-gradient(to bottom, #5d5d5d, #3c3c3c);
}

div.propertyEditor div.container[type='icd'] div.containerTitle::before,
div.propertyEditor div.container[type='com'] div.containerTitle::before {
  content: '\f0d7';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  width: 42px;
  margin-left: 3px;
}
div.propertyEditor div.container.packed[type='icd'] div.containerTitle::before,
div.propertyEditor div.container.packed[type='com'] div.containerTitle::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f0da';
  position: relative;
  left: 2px;
}

div.propertyEditor div.container div.containerTitle:hover {
  color: $editor-effect-color;
  opacity: 1;
  //background: linear-gradient(to bottom, #757575, #424242);
  background: linear-gradient(to bottom, #646464, #434343);
}

div.propertyEditor div.containerTitle .icon {
  position: absolute;
  top: 3px;
  left: 23px;
}

div.property {
  color: $editor-text-color;
  transition: opacity 0.4s;
  position: relative;
  display: flex;
  margin: 2px 4px 2px 6px;
}

div.nameCell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  flex: 1;
  padding-top: 2px;
}

div.nameCell .infoI {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 10px;
  font-family: monospace;
}

div.property.visibleIf.hidden {
  display: none;
}

div.property.visibleIf .nameCell {
  padding-left: 10px;
}

div.propertyContent {
  position: relative;
  box-sizing: border-box;
  width: 162px; /* Vector needs atleast 162px */
}

.property:not(.ownProperty) {
  opacity: 0.65;
}

.container[type='icd'] .property.ownProperty .propertyContent,
.container[type='com'] .property.ownProperty .propertyContent {
  padding-right: 30px;
}

.property .resetButton {
  position: absolute;
  top: 0px;
  right: 7px;
  color: #997d7d;
}

.property .resetButton:hover {
  color: #ff6969;
}

.property .moreButton {
  position: absolute;
  top: 0px;
  right: 15px;
  color: #8a998c;
}

.property .moreButton:hover {
  color: #91ffa0;
}

.logButton {
  position: absolute;
  top: 3px;
  right: 10px;
  opacity: 0.3;
  z-index: 10;
}
