
/*$editor-effect-color: $cool-cyan;*/
/*$editor-effect-color: #f3ebd8;*/
.button {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
  user-select: none;
}
.button:hover {
  opacity: 1;
}
.iconButton {
  border-radius: 3px;
  padding: 1px;
  margin: 0px;
  font-size: 1.3em;
}
button.button {
  background: #9c9c9c;
  background: linear-gradient(to bottom, #636363, #333333);
  /* border: 1px outset #8e8e8e; */
  border: 1px solid #191919;
  border-radius: 3px;
  /*color: #dddddd;*/
  color: #ccc8c6;
  outline: none;
  /* box-shadow: 0 0 3px black; */
  margin: 3px;
  padding: 2px 8px;
  opacity: 0.85;
  font-size: 12px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.76);
  /*background: #3e3e3e;*/
  box-shadow: inset 1px 1px 1px #ffffff36, 0 0 1px black;
}
button.button:hover {
  color: #ccc8c6;
}
button.button:active {
  color: #ccc8c6;
  border-style: inset;
  box-shadow: none;
}
button.button.dangerButton {
  /*color: #ffbcc1;*/
  background: #5f3a3a;
  background: linear-gradient(to bottom, #714646, #523232);
}
button.button.dangerButton:hover {
  color: #ffb6bf;
  text-shadow: 0 0 2px red;
}
button.button.greenButton {
  /*color: #ffbcc1;*/
  background: #3a5f3f;
  background: linear-gradient(to bottom, #47714c, #325237);
}
button.button.greenButton:hover {
  color: #b8ffc1;
  text-shadow: 0 0 2px #00ff22;
}
button.button i.fa {
  position: relative;
  left: -3px;
  top: 0px;
  font-size: 11px;
}
.moduleContainer {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  max-height: 100vh;
}
.tabs {
  /* padding-left: 2px; */
  padding-top: 3px;
  /* overflow: hidden; */
  /* background: #181818; */
  background: rgba(255, 255, 255, 0.02);
  /*min-height: 20px;*/
  /* border-bottom: 1px solid rgba(0, 231, 255, 0.04); */
  margin-bottom: 1px;
}
.moduleElements {
  flex: 1;
  overflow: hidden;
  position: relative;
  box-shadow: 0 -3px 7px -4px black;
}
.moduleTab {
  /*background: rgba(0, 0, 0, 0.30);*/
  padding: 3px 8px;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  /*color: $editor-effect-color;*/
  padding-bottom: 3px;
  border-color: #1f1f1f;
  margin-left: -1px; /* Make borders collapse*/
}
.moduleTab:not(.moduleSelected) {
  /*filter: saturate(0);*/
  /*opacity: 0.5;*/
  box-shadow: inset 0 0px 1px #a2a2a2;
}
.moduleTab.moduleSelected {
  opacity: 1;
  /* text-shadow: 0px 0px 1px #777; */
  background: #3a3a3a;
  z-index: 1000;
  position: relative;
  box-shadow: inset 1px 1px 1px -1px #a2a2a2;
}
.moduleTab:not(.moduleEnabled) {
  display: none;
}
body.noEditAccess .moduleTab.moduleSelected {
  background: #232f24;
}
.packButton {
    position: absolute;
    padding: 1px 10px;
    margin-top: 1px;
    z-index: 100;
}
div.editorLayout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
div.editorLayout.fullViewMode {
    display: block;
}
div.editorLayout.fullViewMode .fullView {
    width: 100%;
    height: 100%;
}
div.editorLayout.fullViewMode > :not(.fullView) {
    display: none;
}
div.packable {
    transition: all 0.3s;
    position: relative;
}
div.packable > * {
    transition: opacity 0.3s;
}
div.nonRight {
    flex: 1;
    display: flex;
    flex-direction: column;
}
div.right {
    border-left: 1px solid #1f1f1f;
    width: 330px;
    border-radius: 0px;
    min-width: 200px;
}
div.right.packed {
    max-width: 30px;
    min-width: 30px;
    width: 30px;
}
div.right .packButton {
    top: 0;
    right: 0;
}
div.top {
    min-height: 60px;
    height: 8vh;
    border-bottom: 1px solid #1f1f1f;
}
div.middle {
    flex: 1;
    display: flex;
    flex-direction: column;
}
div.bottomLeft {
    flex: 1;
    display: flex;
    flex-direction: row;
}
div.bottom {
    border-top: 1px solid #1f1f1f;
    min-height: 150px;
    max-height: 300px;
    height: 25vh;
}
div.bottom.packed {
    min-height: 30px;
    max-height: 30px;
}
div.bottom .packButton {
    top: -2px;
    right: 0;
}
div.left {
    border-right: 1px solid #1f1f1f;
    width: 300px;
}
div.left.packed {
    width: 30px;
}
div.left .packButton {
    right: 0;
    top: 0;
}
div.center {
    flex: 1;
    background: black;
    /*color: #adadad;*/
}
div.moduleContainer.packed {
    /*border-color: $editor-effect-color-inactive;*/
}
div.moduleContainer.noModules {
    border-color: #333;
}
div.moduleContainer.packed:hover {
    cursor: pointer;
}
div.moduleContainer.packed > * {
    opacity: 0 !important;
    display: none !important;
}
div.moduleContainer.noModules {
    background: #111;
}
.module {
  opacity: 1;
  transition: opacity 0.2s;
  width: 100%;
  height: 100%;
  overflow: auto;
  visibility: visible;
  position: absolute;
  background: #3a3a3a;
  box-shadow: inset 0px 0px 1px 0px #a2a2a2;
}
.module.hidden {
  opacity: 0.0;
  visibility: hidden;
}
body.noEditAccess .module {
  background: #232f24;
}
div.top {
  position: relative;
}
.buttonContainer {
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  padding-top: 2px;
}
@keyframes rainbow {
  0% {
    filter: sepia(100%) hue-rotate(0deg);
  }
  100% {
    filter: sepia(100%) hue-rotate(360deg);
  }
}
@keyframes rainbowLittle {
  0% {
    filter: sepia(30%) hue-rotate(0deg);
  }
  100% {
    filter: sepia(30%) hue-rotate(360deg);
  }
}
img.logo {
  height: 100%;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
}
img.logo:hover {
  animation: rainbow 7s infinite;
}
.topIconTextButton {
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  min-width: 50px;
  margin: 0 7px;
  height: 100%;
  transform: translateY(50%);
  color: #8d8d8d;
}
.topIconTextButton i {
  display: block;
  font-size: 25px;
}
.topIconTextButtonContent {
  transform: translateY(-50%);
  padding: 10px;
  background: rgba(0, 0, 0, 0.08);
  border: 1px outset #444;
}
.topIconTextButtonContent:hover {
  background: #373737;
  animation: rainbowLittle 7s infinite;
}
.topIconTextButtonContent:active {
  border: 1px inset #555;
}
.module-topbar {
  overflow: hidden;
}
div.topButtonGroup {
  display: inline-block;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);

  border: 1px solid black;
  box-shadow: inset 0 1px 3px 0px #e8e8e8, 0 0 2px black;

  border-radius: 4px;
}
div.topSceneControlButtons {
  top: 50%;
  left: 50vw;
}
div.topToolSelectionButtons {
  top: 50%;
  left: 20vw;
}
div.selectionView {
  display: inline-block;
  position: absolute;
  transform: translateY(-50%);

  height: 80%;

  padding: 5px 20px;
  top: 50%;
  right: 10px;
  text-align: center;

  border: 1px solid transparent;
}
div.selectionView.selectionFocused {
  border: 1px solid black;
  box-shadow: inset 0 1px 3px 0px #e8e8e8, 0 0 2px black;

  border-radius: 4px;
}
div.selectionView:not(.selectionFocused) div.selectionButtons {
  display: none;
}
div.selectionView div.selectionButtons .fa-trash:hover {
  color: #ff745f;
}
@keyframes blinkPlayButton {
  0% { opacity: 1 }
  50% { opacity: 0.8 }
  100% { opacity: 1 }
}
div.topSceneControlButtons.topSceneControlButtonsPaused div.button[controlButtonType='play'] {
  color: white;
  text-shadow: 0 0 20px white;
  animation: blinkPlayButton 2s 0s infinite;
}
div.topSceneControlButton {
  display: inline-block;
  padding: 5px 15px;
  font-size: 20px;
  transition: none;

  background: linear-gradient(to bottom, #6d6d6d, #383838);
  text-shadow: none;
}
div.topSceneControlButton:hover {
  box-shadow: inset 0 1px 4px 0px #888888;
}
div.topSceneControlButton.selected, div.topSceneControlButton:active {
  background: linear-gradient(to bottom, #383838, #6d6d6d);
  color: white;
  opacity: 0.9;
  box-shadow: none;
}
div.topSceneControlButton:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
div.topSceneControlButton:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.module-types .addTypeButton {
  transform: translateY(1px);
  margin-left: 5px;
  margin-bottom: 3px;
  margin-right: 15px;
  font-size: 1.9em;
  color: #ccc8c6;
}
.module-types .addTypeButton:hover {
  color: #8d8d8d;
}
.module-types input {
  background: #282828;
  color: #ccc8c6;
  outline: none;
  position: absolute;
  top: 2px;
  right: 2px;
  border: 1px solid #808283;
  width: 70px;
}
.module-types .searchIcon {
  color: #808283;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.7em;
  pointer-events: none;
}
.typesDragHelper {
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.17);
  text-shadow: none;
  font-size: 30px;
  letter-spacing: 5px;
  
  text-align: center;
  
  user-select: none;
  cursor: default;
}
.typesDragHelper i {
  margin: 20px;
}
.typesDragHelper.hidden {
  display: none;
}
.module-scene {
  padding: 0;
  overflow: hidden;
}
.module-scene canvas {
  width: 100% !important; /* PIXI tries to override by settings the actual resolution. That's why !important */
  height: 100% !important;
  margin: 0;
  padding: 0
}
.module-scene .pauseSignContainer {
  /*
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  */
}
.module-scene.hideScenePauseInformation .pauseInfo {
  display: none;
}
.module-scene .pauseInfo {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  cursor: default;
}
.module-scene i.pauseInfo {
  position: absolute;
  border: 3px solid;
  padding: 3px 5px;
  margin: 5px;
  font-size: 40px;
  color: rgba(100, 100, 100, 0.4);
}
.module-scene .topLeft {
  top: 0;
  left: 0;
}
.module-scene .topRight {
  top: 0;
  right: 0;
}
.module-scene .bottomLeft {
  bottom: 0;
  left: 0;
}
.module-scene .bottomRight {
  bottom: 0;
  right: 0;
}
.module-scene div.pauseInfo {
  position: absolute;
  top: 2px;
  left: 0;
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px black;
  opacity: 0.7;
}
.sceneEditorSideBarButtons {
  display: none; /* This will be overridden */
  position: absolute;
  top: 0;
  right: 0;
}
.isInitialState .sceneEditorSideBarButtons {
  display: block;
}
.sceneEditorSideBarButtons i {
  font-size: 20px;
  float: right;
  clear: both;
}
.sceneEditorSideBarButtons .movement {
  opacity: 0.5;
}
.module-scene.noScene .pauseInfo, .module-scene.noScene .sceneEditorSideBarButtons {
  display: none;
}
.module.module-performance {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.performanceList {
}
.performanceCPU {
  width: 280px;
  display: inline-block;
  vertical-align: top;
}
.performanceHeader {
  font-weight: bold;
  border-top: none !important;
}
.performanceItem {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}
.performanceItemName {
  display: inline-block;
  width: 220px;
}
.performanceItemValue {
}
.fpsMeterCanvas {
  flex: 1;
}
.module.module-perSecond {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.perSecondList {
}
.perSecond {
  width: 250px;
  display: inline-block;
  vertical-align: top;
}
.perSecondHeader {
  font-weight: bold;
  border-top: none !important;
}
.perSecondItem {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}
.perSecondItemName {
  display: inline-block;
  width: 150px;
}
.perSecondItemValue {
}
.jstree-default .jstree-search {
  color: #ccc8c6;
  left: 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  filter: brightness(1.3);
}
.jstree-default .jstree-search i {
  display: none;
}
.jstree-default .jstree-search::before {
  font-family: FontAwesome;
  content: '\f002';
  color: #8d8d8d;
  margin-left: 5px;
  margin-right: 6px;
}
.jstree-default .jstree-hovered {
  background: none;
  color: #8d8d8d;
}
.jstree-default .jstree-clicked {
  background: rgba(255, 255, 255, 0.06);;
  color: #8d8d8d;
}
div.propertyEditor div.container[type='icd'], div.propertyEditor div.container[type='com'] {
  transition: opacity 0.5s;
  background: #2d2d2d;
}
div.propertyEditor div.container.packed[type='icd'], div.propertyEditor div.container.packed[type='com'] {
  /*opacity: 0.6;*/
  /*filter: saturate(0.4);*/
}
div.propertyEditor div.container[type='icd'] .containerContent, div.propertyEditor div.container[type='com'] .containerContent {
  overflow: auto;
  height: auto;
  transition: opacity 0.4s, max-height 0.3s cubic-bezier(1, 0, 1, 1);
  max-height: 500px;
}
div.propertyEditor div.container.packed .containerContent {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.4s, max-height 0.3s cubic-bezier(0, 1, 1, 1);
}
.skipPropertyEditorTransitions * {
  transition-duration: 0s !important;
}
div.propertyEditor div.container {
  position: relative;
}
.propertyEditor {
  padding-bottom: 5px;
  padding-top: 3px;
}
div.propertyEditor div.container[type='icd'] div.containerTitle, div.propertyEditor div.container[type='com'] div.containerTitle {
  cursor: pointer;
  position: relative;
  padding: 2px;
  background: linear-gradient(to bottom, #5d5d5d, #3c3c3c);
}
div.propertyEditor div.container[type='icd'] div.containerTitle::before, div.propertyEditor div.container[type='com'] div.containerTitle::before {
  content: '\f0d7';
  font-family: FontAwesome;
  display: inline-block;
  width: 42px;
  margin-left: 3px;
}
div.propertyEditor div.container.packed[type='icd'] div.containerTitle::before, div.propertyEditor div.container.packed[type='com'] div.containerTitle::before {
  content: '\f0da';
  position: relative;
  left: 2px;
}
div.propertyEditor div.container div.containerTitle:hover {
  color: #8d8d8d;
  opacity: 1;
  /*background: linear-gradient(to bottom, #757575, #424242);*/
  background: linear-gradient(to bottom, #646464, #434343);
}
div.propertyEditor div.containerTitle .icon {
  position: absolute;
  top: 3px;
  left: 23px;
}
div.property {
  color: #ccc8c6;
  transition: opacity 0.4s;
  position: relative;
  display: flex;
  margin: 2px 4px 2px 6px;
}
div.nameCell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  flex: 1;
}
div.nameCell .infoI {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 10px;
  font-family: monospace;
}
div.property.visibleIf.hidden {
  display: none;
}
div.property.visibleIf .nameCell {
  padding-left: 10px;
}
div.propertyContent {
  position: relative;
  box-sizing: border-box;
  width: 162px; /* Vector needs atleast 162px */
}
.property:not(.ownProperty) {
  opacity: 0.65;
}
.container[type='icd'] .property.ownProperty .propertyContent, .container[type='com'] .property.ownProperty .propertyContent {
  padding-right: 30px;
}
.property .resetButton {
  position: absolute;
  top: 0px;
  right: 7px;
  color: #997d7d;
}
.property .resetButton:hover {
  color: #ff6969;
}
.property .moreButton {
  position: absolute;
  top: 0px;
  right: 15px;
  color: #8a998c;
}
.property .moreButton:hover {
  color: #91ffa0;
}
.logButton {
  position: absolute;
  top: 3px;
  right: 10px;
  opacity: 0.3;
  z-index: 10;
}
.propertyEditor .property input {
  background: rgba(0, 0, 0, 0.12);
  border: 1px inset #444;
  padding: 2px 3px;
  outline: none;
  color: inherit;
  width: 100%;
  box-sizing: border-box;
}
.propertyEditor .property select {
  background: #404040;
  background: linear-gradient(to bottom, #525252, #3a3a3a);
  box-shadow: 0 0 5px -1px black;
  border: none;
  padding: 2px 3px;
  outline: none;
  color: inherit;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.propertyEditor .property input[error] {
  color: #ff738d;
}
.propertyEditor .property[type='vector'] input {
  margin-left: 1px;
  flex: 1;
}
.propertyEditor .property[type='vector'] input.xInput {
  margin-right: 5px;
}
.propertyEditor .property[type='vector'] div {
  display: flex;
  flex-direction: row;
}
.propertyEditor .property[type='bool'] label {
  display: block;
  cursor: pointer;
}
.propertyEditor .property[type='bool'] input {
  cursor: pointer;
}
.propertyEditor .property[type='bool'] input {
  width: auto;
  margin-right: 10px;
}
.componentAdderContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  max-width: 901px;
}
.componentAdderContent .categoryItem {
  overflow: auto;
  margin: 10px;
  max-width: 450px;
  border: 1px solid #151515;
  padding: 15px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.17);
  max-width: 400px;
  box-shadow: inset 2px 2px 8px 1px #4e4e4e;
}
.componentAdderContent div.categoryName {
  margin-bottom: 12px;
}
button.button:disabled {
  filter: grayscale(100%);
  cursor: default;
  opacity: 0.5;
}
.confirmationButtons {
  text-align: center;
}
div.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
div.popup div.popupLayer {
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
div.popup div.popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  min-height: 80px;
  max-width: 90%;
  max-height: 90%;
  display: inline-block;
  background: #676767;
  background: linear-gradient(to bottom, #5a5a5a, #333333);
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #383838;
  box-shadow: 1px 8px 32px 4px black;
  overflow: auto;
}
div.popup div.popupTitle {
  color: #8d8d8d;
  margin: 15px;
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em;
}
div.popup div.genericCustomContent {
  margin: 0 20px 10px 20px;
}
div.popup div.popupButtons {
}
div.popup div.buttonContainer {
  display: flex;
}
.buttonWithDescription {
  float: left;
  clear: both;
}
.buttonWithDescription .description {
  margin-left: 5px;
}
* {
  box-sizing: border-box;
}
body, html {
  background: #282828;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
  color: #ccc8c6;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 1px #1a1a1a;
  overflow: hidden; /* disables osX scrolling effect*/
}
body.noEditAccess {
  background: #232f24;
}
.select-none {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
@keyframes clickMeEffect {
   0%   {
     filter: sepia(100%) hue-rotate(0deg) saturate(150%);
   }
   100% {
     filter: sepia(100%) hue-rotate(360deg) saturate(150%);
   }
}
.clickMeEffect {
  animation: clickMeEffect 2s infinite;
}
button.clickMeEffect {
  box-shadow: 0 0 30px #555;
}
span.clickMeEffect {
  text-shadow: 0 0 90px #999;
}
