/* This file is not processed */

* {
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
}

html, body {
    top: 0;
    left: 0;
    position: relative;
    background: black;
    margin: 0;
    padding: 0;

    color: white;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* width and height will be overridden */
    height: 100vh;
    transition: all 0.25s;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

#fullscreenInfo {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    font-weight: 300;
    color: #afafaf;
    letter-spacing: 2px;
    opacity: 0;

    -webkit-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -ms-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}
#fullscreenInfo.showSlowly {
    opacity: 1 !important;
}

#backButton {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 30px;
    color: #bdbdbd;
    font-weight: bold;
    z-index: 10;
    visibility: hidden;
}
body.nativeFullscreen #backButton {
    visibility: visible;
}

body div#touchUI {
    display: none; /* Do not display any touch UI if not touch screen */
}

body.touch div#touchUI {
    z-index: 100;
    color: white;
    pointer-events: none;
    display: block;
}
body.touch div#touchUI > div {
    position: absolute;
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid;
    text-align: center;
}
body.touch div#touchUI > div.pressed {
    background: white;
}

body.touch div#touchUI > div > span.text {
    position: relative;
    top: 19px;
    font-size: 16px;
}
body.touch div#touchUI > div > span.letter {
    position: relative;
    top: 10px;
    font-size: 30px;
}

#debug {
    position: fixed;
    display: inline-block;
    pointer-events: none;
    width: 50vw;
    text-align: right;
    top: 0;
    right: 0;
    color: white;
    padding-right: 2px;
    font-size: 10px;
}
