.module {
  opacity: 1;
  transition: opacity 0.2s;
  width: 100%;
  height: 100%;
  overflow: auto;
  visibility: visible;
  position: absolute;
}
.module.hidden {
  opacity: 0.0;
  visibility: hidden;
}
