.module.module-performance {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.performanceList {
}

.performanceCPU {
  width: 280px;
  display: inline-block;
  vertical-align: top;
}

.performanceHeader {
  font-weight: bold;
  border-top: none !important;
}

.performanceItem {
  border-top: 1px solid #424242;
}
.performanceItemName {
  display: inline-block;
  width: 220px;
}
.performanceItemValue {
}

.fpsMeterCanvas {
  flex: 1;
}
