
div.top {
  position: relative;
}

.buttonContainer {
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  padding-top: 2px;
}

@keyframes rainbow {
  0%   { filter: sepia(100%) hue-rotate(0deg); }
  100% { filter: sepia(100%) hue-rotate(360deg); }
}
@keyframes rainbowLittle {
  0%   { filter: sepia(30%) hue-rotate(0deg); }
  100% { filter: sepia(30%) hue-rotate(360deg); }
}
img.logo {
  height: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}
img.logo:hover {
  animation: rainbow 7s infinite;
}

.topIconTextButton {
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  min-width: 50px;
  margin: 0 7px;
  height: 100%;
  transform: translateY(50%);
  color: $editor-effect-color;
}

.topIconTextButton i {
  display: block;
  font-size: 25px;
}

.topIconTextButtonContent {
  transform: translateY(-50%);
  padding: 10px;
  background: #333;
  border: 1px outset #444;
}
.topIconTextButtonContent:hover {
  background: #373737;
  animation: rainbowLittle 7s infinite;
}
.topIconTextButtonContent:active {
  border: 1px inset #555;
}

.module-topbar {
  overflow: hidden;
}

