.module-types .addTypeButton {
  transform: translateY(1px);
  margin-left: 5px;
  margin-bottom: 3px;
  margin-right: 15px;
  font-size: 1.9em;
  color: $editor-text-color;
}
.module-types .addTypeButton:hover {
  color: $editor-effect-color;
}

.module-types input {
  background: transparent;
  color: $editor-text-color;
  outline: none;
  position: absolute;
  top: 2px;
  right: 2px;
  border: 1px solid $editor-effect-color-inactive;
  width: 70px;
}

.module-types .searchIcon {
  color: $editor-effect-color-inactive;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.7em;
  pointer-events: none;
}
